	.nav{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		background-color: #333333;
		overflow: hidden;
	}
	li{
		float: left;
	}
	li a{
		padding: 16px;
		padding-top: 18px;
		color: antiquewhite;
		background-color: #333333;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	li a:hover{
		background-color: #555555;
	}
	.full-width{
	width="100px" height="100px"
	}
	.200hun{
	width="200px" height="200px"
	}
	.samr{
		background-image: url('images/untitled.png');
		background-repeat: no-repeat;
		margin-right: 70%;
		position: absolute;
		left: 5%;
		top: 80%;
		background-position: center; 
		padding: 100px;
	}
.row{
	width: 100%;
}
.col-md-12{
	width: 100%;
}
.col-md-6{
	width: 50%;
}
.col-md-4{
	width: 50%;
}

.left{
	position: absolute;
	left: 50%;
}
.right{
	position: absolute;
	right: 45%;
}

.btn:hover{
	background-color: #0080C1;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 60px;

}
.btn{
	background-color: skyblue;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 60px;

}

.logout{
	background-color: #ffff00;
	float: right;
	text-decoration: none;
	color: black;
	display: block;
	padding-right: 10px;
	padding-top: 15px;
	border-radius: 10px;
	padding: 10px;
}
.logout:hover{
	background-color: #fff017;
	border-color: black;
	border-radius: 10px;
	padding: 10px;
}
.abt{
	background-color: #111111;
	height: 40%;
	width: 100%;
}
.rlgo{
	float: right;
	text-decoration: none;
	color: white;
	display: block;
	padding-right: 40px;
	padding-top: 1px;
	font-size: 20px;
	margin-right: 20px;
}
em{
	font-size: 20px;
}